/* 滚动文字动画 */
@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(calc(-100% + 150px));
  }
  100% {
    transform: translateX(calc(-100% + 150px));
  }
}

.animate-marquee-scroll {
  animation: marquee-scroll 4s ease-in-out infinite;
  animation-delay: 1s;
  display: inline-block;
  will-change: transform;
}

.animate-marquee-scroll:hover {
  animation-play-state: paused !important;
}
